/* Reset básico */
body, h1, h2, p, ul, li, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background: #c8102e; /* Vermelho Lightning McQueen */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #f7d500; /* Amarelo */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #f7d500;
    transform: scale(1.1);
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #c8102e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 3px solid #f7d500;
}

h2 {
    color: #c8102e;
    font-size: 1.8em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #f7d500; /* Amarelo */
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #c8102e; /* Vermelho */
    color: #fff;
}

img{
    border-radius: 50%;
}


